/storage
/dataset
/MinIO

/.ipynb_checkpoints/

#Dagster
/dagster_home/.logs_queue/
/dagster_home/.nux/
/dagster_home/.telemetry/
/dagster_home/logs

#etl_pipeline
/etl_pipeline/etl_pipeline/__pycache__/
/etl_pipeline/etl_pipeline/assets/__pycache__/
/etl_pipeline/etl_pipeline/resources/__pycache__/

